@import "../style/index.scss";

.entity-field {
  &__header {
    @include flexFullRowWithSpacing;
    margin-bottom: var(--default-spacing);
  }

  .mdc-layout-grid {
    padding: 0;
  }

  .options-panel {
    background: var(--page-content-tab-background);
  }
}
